* {
    margin: 0;
    padding: 0;
}

body {
    background-color: skyblue;
    margin: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    border: gold 5px solid;
    padding: 8px;
}

#time-remaining {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 5px;
}

#view-scores {
    border: 5px;
    border-radius: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    padding: 5px;
}

